    <!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
       <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body  ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div >
             <!-- I did not consider an empty item, i.e., , is not considered towards the count.-->
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
         ng-model="name" class="form-control" style="border-color: {{borr}}">
         </div>
       <br/>
         <div class="form-group">
             <button  ng-click="check();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <p style="color: {{colorr}}">{{ans1}}</p>
         </div>
   </div>

</body>
</html>